.h2,.p2,.div{
    height: 150px;
    width: 30%;
    background-color: #324B96;
    display: inline-block;
}

/* span - inline */
.span{
    background-color: blueviolet;
    height: 100px;
    width: 100%;
    display: block;
}

/* .image{ */
    /* background-color: red; */
    /* height: 250px;
    width: 250px; */
    /* object-fit: contain;  */
    /* border: 5px solid rgb(12, 231, 74); */
    /* border-radius: 50%; */
/* } */

.image2{
    height: 250px;
    width: 250px;
}

input{
    display: inline;
    height: 50px;
    width: 25%;
}