
.head1{
    /* color: red ; */
    background-color: yellowgreen;
    /* 1 value - 4 side (T,R,B,L) - margin apply */
    /* margin: 50px ;  */
    /* 2 value (1st value - T, B) (2nd R, L) */
    /* margin: 50px 200px; */
    /* 4 value (clockwise direction starts from t -> T , R , B , L) */
    /* margin: 50px 100px 150px 200px; */
    margin: 50px;
    border: 3px solid red ;
    padding: 50px;
    border-radius: 20px;
}

.head2{
    color: red ;
    background-color: yellowgreen;
    padding: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* text-decoration: line-through; */
    text-transform:capitalize ;
    /* letter-spacing: 10px; */
    word-spacing: 100px;
}

.head2:hover{
    background-color: aquamarine;
    font-size: 25px;
    padding: 25px;
    border: 2px solid blue;
}

.para{
    background-color: yellow;
    padding: 20px;
    font-size: 35px;
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; */
    /* margin: 50px;
    padding: 50px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700; */
    /* color: red; */

}
/* .para:first-letter{
    color: red;
    font-size: 50px;
} */

.para::first-line{
    color: red;
    font-size: 50px;
}

.link{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

.link:visited{
    color: darkgreen;
}

.link:link{
    color: blue;
}

.link:hover{
    color: black;
    background-color: rgb(101, 104, 98);
    cursor: grab;
}