/* tag name use */

/* #heads{
    color: red;
    background-color: rebeccapurple;
}


#heads{
    color: green;
    background-color: blue;
}  */
/* same style properties - override */

/* class name */

/* .heading{
    color: red;
} */
/*  id name */

/* #heads{
    color: yellow;
} */



/*   */

/* ( * => universal selector ) */

.head1{
    /* color: red ; */
    background-color: yellowgreen;
    /* 1 value - 4 side (T,R,B,L) - margin apply */
    /* margin: 50px ;  */
    /* 2 value (1st value - T, B) (2nd R, L) */
    /* margin: 50px 200px; */
    /* 4 value (clockwise direction starts from t -> T , R , B , L) */
    /* margin: 50px 100px 150px 200px; */
    margin: 50px;
    border: 3px solid red ;
    padding: 50px;
    border-radius: 20px;
}

.head2{
    color: red ;
    background-color: yellowgreen;
    padding: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* text-decoration: line-through; */
    text-transform:capitalize ;
    /* letter-spacing: 10px; */
    word-spacing: 100px;
}

.head2:hover{
    background-color: aquamarine;
    font-size: 25px;
    padding: 25px;
    border: 2px solid blue;
}

.para{
    background-color: yellow;
    padding: 20px;
    font-size: 35px;
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; */
    /* margin: 50px;
    padding: 50px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700; */
    /* color: red; */

}
/* .para:first-letter{
    color: red;
    font-size: 50px;
} */

.para::first-line{
    color: red;
    font-size: 50px;
}

.link{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

.link:visited{
    color: darkgreen;
}

.link:link{
    color: blue;
}

.link:hover{
    color: black;
    background-color: rgb(101, 104, 98);
    cursor: grab;
}

/*  index 4 html */

.h2,.p2,.div{
    height: 150px;
    width: 30%;
    background-color: #324B96;
    display: inline-block;
}

/* span - inline */
.span{
    background-color: blueviolet;
    height: 100px;
    width: 100%;
    display: block;
}

/* .image{ */
    /* background-color: red; */
    /* height: 250px;
    width: 250px; */
    /* object-fit: contain;  */
    /* border: 5px solid rgb(12, 231, 74); */
    /* border-radius: 50%; */
/* } */

.image2{
    height: 250px;
    width: 250px;
}

input{
    display: inline;
    height: 50px;
    width: 25%;
}

/* flex - class 6 */

*{
    margin: 0;
    padding: 0;
}

/* body{
    background-color: black;
    color: white;
} */

.text-container{
    display: flex;
    flex-direction: column;
    /* row => j.c (y-axis) a.t(x-axis) => (width) - default-100% */
    align-items: center ;
    justify-content: center;
    height: 70vh;
}

.info{
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

.detail{
    margin: 15px 0;
    font-size: 22px;
    text-align: center;
    padding: 15px;
}

.name{
    color: rgba(59, 239, 68, 0.738);
}

.hire-btn{
    background-color: rgba(59, 239, 68, 0.738);
    color: white;
    padding: 10px 0;
    width: 220px;
    font-size: 18px;
    border: none;
}

.hire-btn:hover{
    cursor: grab;
}

.image-container{
    display: flex;
    /* default direction :row  */
    /* flex-direction: column-reverse; */
    /* row => j.c (x-axis) a.t(y-axis) -(height) */
    flex-wrap: wrap;
    justify-content:center ;
    /* width: 50%; */
    /* default 100% width - x-axis - alignment*/
    align-items:center;
    /* align-item - y-axis - allignment => height  */
    height: 100vh; 
    /* px % (vh- viewport height )*/
}

.image{
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.image:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s;
}

/*  display - grid - layout */

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr  1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ;
    grid-template-areas: 
    "nav nav nav nav nav"
    "side cat cat cat cat"
    "side slide slide slide slide"
    "side c1 c2 c2 c3"
    "side foot foot foot foot"
    ;
}

.nav{
    background-color: red;
    grid-area:nav ;
}

.category{
    background-color: yellow;
    grid-area: cat;
    display: flex;
}

.slider{
    background-color: magenta;
    grid-area: slide;
}

.sidebar{
    background-color: orange;
    grid-area: side;
}

.card1{
    background-color: aqua;
    grid-area: c1;
}

.card2{
    background-color: teal;
    grid-area: c2;
}

.card3{
    background-color: goldenrod;
    grid-area: c3;
}

.footer{
    background-color: #324B96;
    grid-area: foot;
}

/*  [ position-css ] */

.container{
    background-color: black;
    margin: 50px;
    height: 400px;
    width: 50%;
    position: relative;
}

.c1{
    background-color: rgb(236, 18, 18);
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 50px;
    left: 10px;

}

.c2{
    background-color: teal;
    height: 100px;
    width: 100px;
}

.c3{
    background-color: goldenrod;
    height: 100px;
    width: 100px;
    z-index:0;
}

/* .h1-position{
    position: fixed;
    bottom: 50px;
    right: 100px;
} */

.h1-position{
    position: sticky;
    top: 100px;
}











